@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply border-none bg-cyan text-white font-medium text-sm lg:text-base hover:bg-Cyanhover;
}
input {
  @apply ring-1 ring-cyan p-2 rounded-lg focus:outline-none focus:ring-1 focus:ring-cyan;
}
h1,h2,h3,h4,h5,h6 {
  @apply text-VeryDarkBlue;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 75%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(194, 34%, 65%);
  border-radius: 5px;
}


/* *{
  border: 0.2px solid red;
} */